@import "@/assets/scss/common/common-sass.scss";

.record-detail-wrap {
  .info-parent {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid $line-color-secondary;
    .father,
    .mother {
      width: 50%;
      text-align: center;
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }

    .father {
      @include unit(padding, 0 5 0 0);

      .name {
        @include ico-father;
      }
    }
    .mother {
      @include unit(padding, 0 0 0 5);
      .name {
        @include ico-mother;
      }
    }
    .img-box {
      @include unit(height, 300);
      @include unit(margin, 10 0 0 0);
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
  .info-detail {
    @include unit(margin, 20 0 0);


    .info-list {
      display: flex;
      flex-wrap: wrap;
      > li {
        display: flex;
        width: 50%;
      }
      .title {
        box-sizing: border-box;
        @include unit(width, 100);
        @include unit(padding, 10 0);
        @include unit(margin, 0 10 0);
        
        font-weight: 700;
        @include font-color($font-color-dark);
        @include ico-list;
      }
      .info-report {
        width: 100%;
      }
      .desc {
        @include unit(padding, 10 0);
        @include font-color($font-color-secondary);
      }
    }

    .info-weight {
      .desc {
        position: relative;
      }
      .weight-list {
        position: absolute;
        top: 100%;
        left: 0;
        @include unit(padding, 10);
        @include unit(max-height, 200);
        overflow-y: auto;
        background-color: $background-color-primary;
        li {
          @include unit(margin, 10 0 0);
          &:first-child {
            @include unit(margin, 0);
          }
        }
      }
    }
  }
}
.masonry-container {
  @include unit(margin, 20 0 0);
}


@include md-1023{

  .record-detail-wrap {
    .info-parent {
      
      .img-box {
        @include unit(height, 100);
      
      }
    }
    .info-detail {

      .info-list {
        display: flex;
        flex-wrap: wrap;
        > li {
          display: block;
          width: 50%;
        }
        .title {
          width: 100%;
          @include unit(padding, 10 10 5 0);
          @include unit(margin, 0);
        }
      
        .desc {
          @include unit(padding, 5 0);
          @include unit(margin, 0 10 0 10);
        }
      }

     
    }
  }

}