@import "@/assets/scss/common/common-sass.scss";

.record-list-wrap {
  > ul > li {
    @include set-margin(20, 0, 0);
    @include set-padding(20, 0, 0);
    border-top: 1px solid $line-color-primary;
    &:first-child {
      @include set-margin(0);
      @include set-padding(0, 0, 0);
      border-top: none;
    }
  }

  .detail-info-wrap {
    display: flex;
    .img-box {
      width: 50%;
      height: 200px;
      background-color: #eee;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .info-box {
      width: 50%;
      @include set-padding(0, 10);
    }
  }
  .info-parent {
    display: flex;
    justify-content: space-between;
    @include set-padding(10);
    border-bottom: 1px solid $line-color-secondary;
    .father,
    .mother {
      @include font-color($font-color-secondary);
    }
    .father {
      .name {
        @include ico-father;
      }
    }
    .mother {
      .name {
        @include ico-mother;
      }
    }
  }
  .info-list {
    > li {
      display: flex;
    }
    .title {
      width: set-space(70);
      @include set-padding(10, 0);
      @include set-margin(0, 10, 0);
      font-weight: 700;
      @include font-color($font-color-dark);
      @include ico-list;
    }
    .desc {
      @include set-padding(10, 0);
      @include font-color($font-color-secondary);
    }
  }
}
