@import "@/assets/scss/common/common-sass.scss";

.record-list-wrap {
  position: relative;
  .select_box{
    position: sticky;
    top: 0;
    width: 100%;
    @include unit(padding, 10 0 10);
    background: #fff;
    select{
      width: 100%
    }
  }
  > ul{
    @include unit(margin, 10 0 0);
  }
  > ul > li {
    @include unit(margin, 20 0 0);
    @include unit(padding, 20 0 0);

    border-top: 1px solid $line-color-primary;
    &:first-child {
      @include unit(margin, 0);
      @include unit(padding, 0 0 0);
      border-top: none;
    }
  }

  .detail-info-wrap {
    display: flex;
    .img-box {
      width: 50%;
      @include unit(height, 200);
      background-color: #eee;
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }

    .info-box {
      width: 50%;
      box-sizing: border-box;
      @include unit(padding, 0 10);
    }
  }
  .info-parent {
    display: flex;
    justify-content: space-between;
    @include unit(padding, 10);
    border-bottom: 1px solid $line-color-secondary;
    .father,
    .mother {
      @include font-color($font-color-secondary);
    }
    .father {
      .name {
        @include ico-father;
      }
    }
    .mother {
      .name {
        @include ico-mother;
      }
    }
  }
  .info-list {
    > li {
      display: flex;
      @include unit(margin, 10 0 0);
    }
    .title {
      @include unit(width, 70);
      font-weight: 700;
      @include font-color($font-color-dark);
      @include ico-list;
    }
    .desc {
      @include font-color($font-color-secondary);
    }
  }
}

@include md-1023{
  .record-list-wrap {
    .detail-info-wrap{
      display: block;
      .img-box {
        width: 100%;
        @include unit(height, 220);
        background-color: #eee;
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
        }
      }
  
      .info-box {
        width: 100%;
        @include unit(padding, 0);
      }
    }
  }
}