@use "sass:math";

//Function to convert px value into rem
@function set-size($target, $context: $base-font-size) {
  @return math.div($target, $context) * 1rem;
}
@function set-space($dimension) {
  $length: length($dimension);
  $list: ();
  @for $i from 1 through $length {
    $list: append($list, set-size(nth($dimension, $i)));
  }
  @return $list;
}

@function parseInt($n) {
  @return math.div($n , ($n * 0 +1) );
}