body {
  font-size: $base-font-size + px;
  background-color: $body-color;
}
.header {
  @include unit(padding, 20);
  @include cont-fluid("header");
  border-bottom: 1px solid #e4e8eb;
  background-color: $header-color;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    ul {
      display: flex;
      li {
        @include unit(margin, 0 10 0 0);
        &::first-child {
          @include unit(margin, 0 0 0 0);
        }
      }
    }
    .depth {
      position: relative;
    }
    .sub-depth {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  &__search {
    @include unit(margin, 10);
    text-align: center;
  }
}
footer {
  @include cont-fluid("footer");
  @include unit(margin, 50 0 0);
  @include unit(padding, 20);
  border-top: 1px solid #e4e8eb;
  background-color: $footer-color;
}

.wrap {
  height: 100vh;
}
.heading-wrap {
  h2 {
    @include unit(padding, 20 0);
    @include unit(font-size, 20);
    @include font-color($font-color-h2);
    font-weight: 800;
  }
}

.contents {
  @include unit(padding-bottom, 50);
  min-height: calc(100% - #{$header-height + $footer-height}px);
  @include cont-fluid;
}
