$base-font-size: 16;
$body-color: #fff;
$header-color: #fff;
$footer-color: #fafbfc;
$header-height: 60;
$footer-height: 77;

/* color base */
$font-color-h2: #96B0B7;
$font-color-primary: #202020;
$font-color-secondary: #727272;
$font-color-dark: #212529;
$font-color-light: #f8f9fa;

$line-color-primary: #e4e8eb;
$line-color-secondary: #f5f5f5;

$list-ico-color-primary: #1ace61;

$background-color-primary: #e4e8eb;

/* ico base */
$ico-father-bg: blue;
$ico-mother-bg: red;

/* layout base */
$max-header-width: 100%;
$max-footer-width: 100%;
$max-content-width: 800px;

$list-space-top:10;
